<script>
	(function () {
		var needles = document.querySelectorAll('[data-needledrop]');

		function dropTheNeedle( event ) {
			var target = event.target;
			var sound = target.dataset.needledrop;

			var audio = new Audio(sound);
			var promise = audio.play();

			if (promise !== undefined) {
				promise.then(function(_) {}).catch( function(error) {});
			}
		}

		if ( needles.length ) {
			needles.forEach( function( needle ) {
				needle.addEventListener( 'mouseenter', dropTheNeedle );
			} );
		}
	})();
</script>
